<html>
<head>
  <title></title>
</head>
<body>

{% load staticfiles %}

<style type="text/css">
.ui-corner-all { padding-right: 10px; width: 32px; height: 32px; }

</style>

 <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
 <link href="{{ STATIC_URL }}css/blog.css" rel="stylesheet">
 <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <div class="blog-masthead">
      <div class="container">
        <nav class="blog-nav">          
          <a class="blog-nav-item" href="{% url 'blog:tweet-list' %}">Home</a>
          <a class="blog-nav-item" href="{% url 'blog:tweet-create' %}">What's on your head ?</a>
          {% if user.is_authenticated %}
          
            <a class="blog-nav-item navbar-right" href="{% url 'blog:logout-user' %}"> Hello {{ user }} | Logout</a>
          {% else %}
           <a class="blog-nav-item navbar-right" href="{% url 'blog:login-user' %}">Login</a> 
            {% endif %}
          
        </nav>
      </div>
    </div>
 <div class="container">

      <div class="jumbotron">
          <h1>Tweets project </h1>
      </div>   

      <div class="row">

        <div class="col-sm-8 blog-main">
          {% block header %}
            <h2>Last Tweets</h2>
          {% endblock header %}
        	<hr>

          <div class="blog-post">

          	{% block content %}
          		
          	{% endblock content %}



        </div><!-- /.blog-main -->
 </div><!-- /.blog-main -->
        <div class="col-sm-3 col-sm-offset-1 blog-sidebar">
          <div class="sidebar-module sidebar-module-inset">
            <h4>About</h4>
            <p>This is a simple project for posting tweets by authenticated users</p>
          </div>

        </div><!-- /.blog-sidebar -->

      </div><!-- /.row -->

    </div><!-- /.container -->

{% comment %}
  
{% endcomment %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.8.2/jquery-ui.min.js"></script>
    
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
     <script src="{{ STATIC_URL }}js/jquery-ui.triggeredAutocomplete.js"></script>
    {% comment %}
    <script src="http://getbootstrap.com/assets/js/docs.min.js"></script>
    {% endcomment %}
    

    {% block footer %}
      
    {% endblock footer %}
</body>
</html>
